<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/icon" >

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
</head>

<body>
    <h1><span id="uChat">uChat</span> messenger</h1>

    <div id="chat_body">
        <!-- hapi.js injected content -->

        {{{ content }}}

        <!-- end content -->
    </div>

    <footer id="footer">Ste.b_O &copy;</footer>
    <script type="text/javascript" >
        var year = new Date().getFullYear();
        document.getElementById('footer').innerHTML += year;
    </script>

    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>