* {
    margin: 0;
    padding: 0;
}
body {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
    min-width: 240px;
    /*padding: 0 2em;*/
    font: 1em arial, sans-serif;
    text-align: center;
}
h1 {
    min-width: 230px;
    font-size: 1em;
    margin: 1em 0 .5em;
}
input {
    display:block;
    margin: .5em auto;
}
#uChat {
    font-size: 3em;
    color: dodgerblue;
}
span {
    color: dodgerblue;
    font-weight: bold;
}
#welcome {
    font-size: .8em;
    margin: 0 0 1.5em;
}
/*#chat_body {*/
    /*width: 80%;*/
    /*min-width: 300px;*/
    /*margin: 0 auto;*/
/*}*/
#chat_input_panel {
    /*width: 60%;*/
    margin: 0 auto;
}
a {
    display: inline-block;
    padding: 4px 8px;
    margin: 3px;
    border: 1px solid #DDD;
    color: black;
    text-decoration: none;
}
nav a:hover {
    background: #EEE;
}
#chat_content {
    border: 1px solid grey;
    /*width: 60%;*/
    margin: 0 auto;
    height: 300px;
    overflow-y: scroll;
}
#msg_area {
    width: 100%;
    margin: .5em auto;
    font: .8em arial, sans-serif;
}
/*#input-form {*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
/*}*/
#notification {
    font-size: .8em;
    font-style: oblique;
    color: orangered;
    padding: .5em 0;
}
footer{
    font: small-caption;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: right;
    padding: 3em 0;
    color: slategrey;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: lightgrey; }


/****** dynamic style ******/
@media screen and (max-width : 490px) {


}

