<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pageTitle}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/icon" >
</head>

<body>
    <!-- injected content -->

    {{{ content }}}

    <!-- end content -->

    <h1><span id="uChat">uChat</span> messenger</h1>

    <div id="chat_body"></div>

    <footer id="footer">Ste.b_O &copy;</footer>
    <script type="text/javascript" >
        var year = new Date().getFullYear();
        document.getElementById('footer').innerHTML += year;
    </script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

    <script type="text/javascript" src="/public/js/bundle.js">//browserified (watchified) script</script>
    <script>
        var socket = io();


        var username = $('#user').html();
        if (username) {
            // var sessionID = user.attr("data-session");
            socket.emit("userConnection", username); //, sessionID: sessionID });
        }

        $('#chat-form').submit(function(){
            socket.emit('chat message', $('#msg_area').val());
            $('#msg_area').val('');
            return false;
        });

        socket.on('chat message', function(msg){
            $('#messages').append($('<li>').text(msg));
        });

        $('#logout').on('click', function(){
            //var user = $('#username').val();
            console.log(username, 'userDisconnection');
            socket.emit('userDisconnection', username);
            //window.location.replace("/login");
            //socket.disconnect(); //should use username to disconnect only him/her
        });

        $('#save-chat').on('click', function(){
            var newMessages = ($('#messages').html()) ? $('#messages').html() : '';
            console.log('username:', username, 'newMessages:', newMessages);
            socket.emit('saveChat', {
                username: username,
                newMessages: newMessages
            });
        });

        $('#delete-chat').on('click', function(username){

        });

        $('#signin').on('click', function(){
            window.location.replace("/signin");
        });
        $('#login').on('click', function(){
            window.location.replace("/login");
        });
    </script>

    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>