<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pageTitle}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/style.css">
    <!--<link rel="stylesheet" href="../public/css/style.css">-->
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/icon" >
</head>

<body>
    <!-- injected content -->

    {{{ content }}}

    <!-- end content -->

    <footer id="footer">Ste.b_O &copy;</footer>
    <script type="text/javascript" >
        var year = new Date().getFullYear();
        document.getElementById('footer').innerHTML += year;
    </script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

    <script type="text/javascript" src="/public/js/bundle.js">//browserified (watchified) script</script>
    <script>
        var socket = io();
        $('#chat-form').submit(function(){
            socket.emit('chat message', $('#msg_area').val());
            $('#msg_area').val('');
            return false;
        });
        socket.on('chat message', function(msg){
            $('#messages').append($('<li>').text(msg));
        });
    </script>

    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>