<script type="text/html" id="chat_messages-template">
    <ul id="chat_messages">
        <% _.each( chatMessages, function( message ){ %>
        <li><%= message %></li>
        <% }); %>
    </ul>

    <aside>
        <div id="users_container">
            Connected users:
            <ul id="connected_users">
                <% _.each( connectedUsers, function( user ){ %>
                <li><%= user %></li>
                <% }); %>
            </ul>
        </div>
    </aside>

</script>

    <div id="chat">
        <div id="welcome">Welcome <span>{{username}}</span>! <br>
                You are now connected</div>
        <div id="hapi_container">
            <!--injected content from chatView.js-->
        </div>
        <div id="chat_input_panel">
            <form id="chat-form" action="">
                <textarea id="msg_area" rows="3" placeholder="type your message" autofocus required></textarea>
                <button id="send" type="submit">Send</button>
            </form>
        </div>
    </div>
    <button id="logout">log out</button>

    <button id="save-chat">save chat</button>
    <button id="delete-chat">delete chat</button>




<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

<script type="text/javascript" src="/public/js/bundle.js">//browserified (watchified) script</script>

   <script>
        //create client socket
        var socket = io();
        //connect user
        socket.emit("userConnection", { username: '{{username}}', sessionID: '{{sessionID}}' });

        var $message_area = $('#msg_area');
        //whenever the user send a messages, generate the chat message event
        $('#chat-form').submit(function(){
            socket.emit('chatMessage', $message_area.val());
            $message_area.val('');
            return false;
        });

        socket.on('chatMessage', function(msg){
            $('#messages').append($('<li>').text(msg));
        });


        $('#logout').on('click', function(){
            //var user = $('#username').val();
            //console.log('{{username}}:', 'userDisconnection');
            socket.emit('logout');
            location.assign("/logout");
        });

//        socket.on('redirect', function(){
//            //console.log('user disconnected');
//            location.assign("/login");
//        });

        var $messages = $('#messages');
        $('#save-chat').on('click', function(){
            var newMessages = ($messages.html()) ? $messages.html() : '';
            console.log('username:', '{{username}}', 'newMessages:', newMessages);
//            socket.emit('saveChat', {
//                username: '{{username}}',
//                newMessages: newMessages
//            });
            socket.emit('saveChat', newMessages);
        });

        $('#delete-chat').on('click', function(username){

        });

    </script>

