<script type="text/html" id="chat-template">
    <div id="chat">
        <div id="welcome">Welcome <span id="username">{{username}}</span>! <br>
            You are now connected</div>
        <div id="chat_content">
            <span id="chat_history">{{chat_history}}</span>
            <ul id="messages"></ul>
        </div>
        <div id="chat_input_panel">
            <form id="chat-form" action="">
                <textarea id="msg_area" rows="3" placeholder="type your message" autofocus required></textarea>
                <button id="send" type="submit">Send</button>
            </form>
        </div>
    </div>
    <button id="logout">log out</button>

    <button id="save-chat">save chat</button>
    <button id="delete-chat">delete chat</button>

</script>
