<!-- templates -->
<script type="text/html" id="chatMessage-template">
    <li><span><%= username %></span> <%= msg %></li>
</script>

<script type="text/html" id="user-template">
    <% list.forEach(function(user) { %>
        <li> <%= user.username %>: <span class="<%= user.status %>"><%= user.status %></span></li>
    <% }) %>
</script>
<!-- end templates -->


    <div id="chat">
        <!--<div id="welcome">Welcome <span>{{username}}</span>! You are now connected</div>-->

        <ul id="chat_messages">
            <!--loaded content from roomCollection-->
        </ul>

        <div id="chat_input_panel">
            <form id="chat-form" action="">
                <textarea id="msg_area" rows="3" placeholder="type your message" autofocus required></textarea>
                <button id="send" type="submit">Send</button>
            </form>
        </div>
    </div>
    <button id="logout">log out</button>

    <aside>
        <ul id="connected_users">
            <!--loaded content from messagesCollection-->
        </ul>
    </aside>



<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

<script>
    //create client socket
    var socket = io('http://localhost:8000');
    //connect user
    socket.emit("userConnection", { username: '{{username}}', sessionID: '{{sessionID}}' });

    socket.on('loadChat', function(dataFromDB){
        if (dataFromDB) {
            //get the last 10 messages of the chat so far
            var recentChatHistory = dataFromDB.slice(-10, dataFromDB.length);
            var messageTemplate = _.template($("#chatMessage-template").html());
            var chatHistory = $('#chat_messages');
            recentChatHistory.forEach(function (message) {
                var previousChatMessages = messageTemplate({
                    username: message.username,
                    msg: message.message
                });
                chatHistory.append(previousChatMessages);
            });
        }
        //when history has been loaded, register for new messages
        //when receive a chatMessage or a serviceMessage display them
        socket.on('chatMessage', function(username, msg){
            //console.log(msg);
            var messageTemplate = _.template( $("#chatMessage-template").html() );
            var chatMessage = messageTemplate({
                username: username,
                msg: msg
            });
            $('#chat_messages').append(chatMessage);
        });
        socket.on('serviceMessage', function(username, msg){
            //console.log(msg);
            var messageTemplate = _.template( $("#chatMessage-template").html() );
            var chatMessage = messageTemplate({
                username: username,
                msg: msg
            });
            $('#chat_messages').append(chatMessage);
        });

    });

    //whenever the user send a messages, generate the chat message event
    var $message_area = $('#msg_area');
    $('#chat-form').submit(function(){
        socket.emit('chatMessage', $message_area.val());
        $message_area.val('');
        return false;
    });

    var typing;
    function keepTyping () {
        typing = setTimeout(function () {
            socket.emit('stopTyping');
        }, 500);
    }
    //set status typing while keypress
    $( "#chat_input_panel" ).keypress(function() {
        clearTimeout(typing);
        socket.emit('typing');
        keepTyping();
    });

    //when the list of connected users (roomCollection) changes, update the list
    socket.on('updateUsersList', function(room) {
        //console.log(room);
        var userTemplate = _.template( $("#user-template").html() );
        var userList = userTemplate({ list: room });
        $('#connected_users').html(userList);
    });

    $('#logout').on('click', function(){
        location.assign("/logout");
    });

</script>